@{
    ViewData["Title"] = "اضف متبرع";
    Layout = "_Layout";
}
@section CSS {
    <link rel="stylesheet" href="~/css/style.css">
}
@model IAmHere.Web.Models.Doner.DonerModel

<div class="wrapper">
    <form id="donerForm" class="bg-white p-4" method="post">
        <div class="row g-3">
            <div class="col-md-6">
                <label asp-for="FirstName" class="form-label">الاسم الأول</label>
                <input asp-for="FirstName" class="form-control required" placeholder="الاسم الأول" required />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="LastName" class="form-label required-star">الاسم الأخير</label>
                <input asp-for="LastName" class="form-control required" placeholder="الاسم الأخير" required />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Gender" class="form-label">الجنس</label>
                <select asp-for="Gender" class="form-select" required>
                    <option value="ذكر">ذكر</option>
                    <option value="أنثى">أنثى</option>
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="DateOfBirth" class="form-label">تاريخ الميلاد</label>
                <input asp-for="DateOfBirth" type="date" class="form-control right" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="BloodType" class="form-label">فصيلة الدم</label>
                <select asp-for="BloodType" class="form-select" required>
                    <option value="">اختر فصيلة الدم</option>
                    <option value="A+">A+</option>
                    <option value="A-">A-</option>
                    <option value="B+">B+</option>
                    <option value="B-">B-</option>
                    <option value="AB+">AB+</option>
                    <option value="AB-">AB-</option>
                    <option value="O+">O+</option>
                    <option value="O-">O-</option>
                </select>
                <span asp-validation-for="BloodType" class="text-danger"></span>
            </div>

            <div class="col-md-6">
                <label asp-for="LastDonationDate" class="form-label">تاريخ آخر تبرع</label>
                <input asp-for="LastDonationDate" type="date" class="form-control right" />
                <span asp-validation-for="LastDonationDate" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="PhoneNumber" class="form-label">رقم الهاتف</label>
                <input asp-for="PhoneNumber" class="form-control" placeholder="رقم الهاتف" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Email" class="form-label">البريد الإلكتروني</label>
                <input asp-for="Email" class="form-control" placeholder="البريد الإلكتروني" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="col-md-12">
                <label asp-for="MedicalConditions" class="form-label">الحالات الطبية</label>
                <textarea asp-for="MedicalConditions" class="form-control" placeholder="الحالات الطبية"></textarea>
                <span asp-validation-for="MedicalConditions" class="text-danger"></span>
            </div>
            <div class="col-md-12">
                <button type="submit" onclick="SubmitDoner()" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <script src="~/js/jquery-3.3.1.min.js"></script>

    <script>
        function SubmitDoner() {
            // Get the form element
            const form = document.getElementById("donerForm");

            // Create FormData object from the form
            const formData = new FormData(form);
            
            // Send serialized form data to controller action
            $.ajax({
                url: '@Url.Action("AddDoner", "Doner")',
                type: form.method,
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                success: function (response) {
                    // Handle success response
                    showSuccessAlert();
                },
                error: function (xhr, status, error) {
                    // Handle error
                    console.error(error);
                    // Optionally, display error message to the user
                }
            });
        }

        function showSuccessAlert() {
            Swal.fire({
                title: 'تمت العملية بنجاح!',
                text: 'تم إضافة المتبرع بنجاح.',
                icon: 'success',
                confirmButtonText: 'OK',
            }).then((result) => {
                // Check if the user clicked "OK"
                if (result.isConfirmed) {
                    // Redirect to the index page of the Doner controller
                    window.location.href = '@Url.Action("SearchDoners", "Doner")';
                }
            });
        }
    </script>
}
